// import components
@import "components/blog";
@import "components/header";

// import plugin / vendor overrides
@import "vendor/essential-grid";
@import "vendor/mobile-menu";



/*
// Universal styling
*/
body,
p {
    font-family: $font-family-sans-serif;
}

/*
// Home page
*/
.home {
    h3 {
        // text-align: right;
    }
}

// home slider id
#welcome {
    margin-top: $s_xl!important;
    // height: 600px!important;
}

// home grid id
#esg-grid-7-1 {
    padding-top: 0!important;
}

.m__large {
    margin-top: $s_xl;
    margin-bottom: $s_xl;
}

.p__large--top {
    padding-top: $s_xl * 1.5;
}

/*
// Full width page teplate (used in 3D pages)
*/
.entry-title {
    padding: $s_xl;
    text-align: center;
    // color: $white;
    // background-color: $primary;
    font-size: $h1-font-size * 1.5;
}

/*
// Post pages
*/
#single-wrapper {
    margin-top: $s_lg;
}
