.carousel-item {
	.jumbotron-carousel & {
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}
}

.carousel {
	.jumbotron-carousel & {
		height: $s-jumbotron-height-sm;

		@include media-breakpoint-up(md) {
			height: $s-jumbotron-height-md;
		}

		@include media-breakpoint-up(lg) {
			height: $s-jumbotron-height-lg;
		}

		@include media-breakpoint-up(xl) {
			height: $s-jumbotron-height-xl;
		}
	}
}

// .carousel-item {
// 	.jumbotron-carousel & {
// 		background-attachment: scroll;
// 		background-position: center;
// 		background-size: cover;
// 	}
// }
//
// .carousel-caption {
// 	.jumbotron-carousel & {
// 		right: 25%;
// 		left: 25%;
// 		height: 80%;
//
// 		h1 {
// 			padding-right: $s-sm;
// 			padding-left: $s-sm;
// 			background-color: $c-jumbotron-h1-bg;
// 		}
//
// 		h2 {
// 			font-size: $font-size-base;
// 			text-transform: none;
// 		}
// 	}
// }
