.navbar {
	padding: 0;
	background-color: $c-navbar-bg;
}

.navbar-brand {
	margin-right: 0;
	padding-left: $s-xs;
	// background-color: red;
	line-height: 0;
}

.navbar-woocommerce-menu {
	padding-right: $s-xs;
	// background-color: orange;

	@include media-breakpoint-up(md) {
		order: 3;
	}
}

.navbar-title-menu {
	// background-color: green;
}

.navbar-title-menu-title {
	h1 {
		color: $primary;
	}

	@include media-breakpoint-up(lg) {
		padding-top: $s-sm;
	}
}

// .navbar {
// 	padding-top: 0;
// 	padding-bottom: 0;
// 	background-color: $c-navbar-bg;
//
// 	&.shrink  {
// 		padding-top: 0;
// 		padding-bottom: $s-xs;
// 		transition: all .25s ease-in-out;
// 		background-color: $c-navbar-bg-shrink;
//
// 		@include media-breakpoint-up(md) {
// 			// height: 70px;
// 		}
// 	}
// }
//
//
// .navbar-collapse {
// 	background-color: $c-navbar-bg;
//
// 	@include media-breakpoint-up(md) {
// 		background-color: $c-navbar-bg;
//
// 		.shrink & {
// 			transition: all .25s ease-in-out;
// 			background-color: $c-navbar-bg-shrink;
// 		}
// 	}
// }
//
// Max size for the logo
.img-fluid,
.custom-logo {
	background-color: red;
	max-width: 75px;
	max-height: 75px;
	transition: all .25s ease-in-out;

	.shrink & {
		max-width: 65px;
		max-height: 65px;
		transition: all .25s ease-in-out;
	}
}
//
// // styling to arange navbar blocks specific to this install
// .container-navbar {
// 	padding: 0;
// }
//
// block containing title text and main menu
.navbar-title-menu {
// 	width: auto;
//
	&-title {
// 		text-align: center;

		h1 {
			transition: all .25s ease-in-out;
			font-family: $logo-font-family;
			font-size: $h3-font-size * .75;
			font-weight: $headings-font-weight;
			text-transform: none;
//
// 			.shrink & {
// 				transition: all .25s ease-in-out;
// 				font-size: $h3-font-size * .75;
// 			}
//
			@include media-breakpoint-up(lg) {
				font-size: $h3-font-size;
			}
		}

// 		h2 {
// 			transition: all .25s ease-in-out;
// 			color: $primary;
// 			font-family: $logo-font-family;
// 			font-size: $font-size-base;
// 			text-transform: none;
//
// 			.shrink & {
// 				transition: all .25s ease-in-out;
// 				font-size: $h4-font-size * .75;
// 			}
// 		}
//
// 		.shrink & {
// 			// display: none;
// 			position: absolute;
// 			margin-top: -30rem;
// 			opacity: 0;
// 			transition: all .2	5s ease-in-out;
//
// 			@include media-breakpoint-up(md) {
// 				position: relative;
// 				margin-top: 0;
// 				opacity: 1;
// 			}
// 		}
	}
//
// 	@include media-breakpoint-up(md) {
// 		padding-right: calc(5% + 55px);
// 	}
}
