.fade-in,
%fade-in {
	// opacity: 1;
	// animation-name: fadeInOpacity;
	// animation-iteration-count: 1;
	// animation-timing-function: ease-in;
	// animation-duration: 8.5s;
    animation: fadeInOpacity 1.5s linear;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slide-up,
%slide-up {
    animation-name: slideInUp;
    animation-duration: .9s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,75%,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/*
// Line animation
*/
.animline {
  fill: none;
  stroke: black;
  stroke-width: 2;
  -webkit-animation: expand-from-centre 1s linear forwards;
  animation: expand-from-centre 1s linear forwards;
}

@-webkit-keyframes expand-from-centre
{
  from {
    stroke-dasharray: 0 300;
    stroke-dashoffset: -150;
  }

  to {
    stroke-dasharray: 300 300;
    stroke-dashoffset: 0;
  }
}

@keyframes expand-from-centre
{
  from {
    stroke-dasharray: 0 300;
    stroke-dashoffset: -150;
  }

  to {
    stroke-dasharray: 300 300;
    stroke-dashoffset: 0;
  }
}
