// home page only
.home {
  .entry-header {
    display: none;
  }

  .wrapper {
    padding-top: 0;
    margin-top: $triptych-height - 20px;
  }
}

.m__large {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*
// JMW slideshow!
*/

/*
@include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
xs  400
sm
md  500
lg  600
xl  800
*/


.triptych {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: $triptych-height;
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
}

.triptych-panel {
    @extend %fade-in;
    flex-grow: 1;
    width: 100% / 3;
    height: $triptych-height;
    position: relative;
    overflow: hidden;
    //animation-delay: 0.25s;

    .triptych-title {
        animation-delay: 2s;
    }

    &:first-of-type {
        animation-delay: 0.45s;

        .triptych-title {
            animation-delay: 3s;
        }
    }

    &:last-of-type {
        animation-delay: 0.65s;

        .triptych-title {
            animation-delay: 4s;
        }
    }
}

.triptych-img {
     position: absolute;
     top: 0;
     left: 0;
     overflow: hidden;
     width: 100%;
     height: 100%;

     img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          min-width: 100%;
          max-width: initial;
          transform: translate(-50%, -50%);
     }
}

.triptych-title {
    @extend %fade-in;
    @extend %slide-up;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 101;
    text-transform: uppercase;
    text-align: center;
    font-size: $h1-font-size;
    color: $white;
    animation-delay: 2500ms;
}

@include media-breakpoint-up(md) {
    .home {
        .wrapper {
          margin-top: ($triptych-height) - 70px;
        }
    }

    .triptych {
        height: $triptych-height * 1.25;
    }
}

@include media-breakpoint-up(lg) {
    .home {
        .wrapper {
          margin-top: $triptych-height - 20px;
        }
    }

    .triptych {
        height: $triptych-height * 1.5;
    }
}

@include media-breakpoint-up(xl) {
    .triptych {
        height: $triptych-height * 2;
    }
}
